


.cart {
  cursor: pointer;
}
.cart span:nth-child(1) {
  font-size: 2rem;
  color: white;
}
.cart span:nth-child(2) {
  padding: 0 3px;
  background-color: white;
  color: white;
  font-weight: bolx;
  border-radius: 2px;
  position: relative;
  
}
